<% provide(:title, 'About') %>

<div class="page_container_about">
	<div class="left_container_about">
		<h1 class="left_container_text_about">About Us</h1>
	</div>
	<div class="right_container_about">
		<p class="right_container_text_about">
			Providing full-scale sustainable solutions to the pressing problem of waste production, worldwide.
		</p>
	</div>
	<div class="white_space_top_about">
	</div>
	<div class="page_content_about">
		<h2 class="first_header_about">the problem</h2>
		<p class="first_section_about">
			With less than five percent of the world's population, the US produces close to twenty-five percent of the world's waste, more than 230 million tons per year. Globally, we produce more than one billion tons of waste every year, and as that number grows, there are exponentially fewer places for us to store that waste safely.  
		</p>

		<h2 class="second_header_about">the solution</h2>
		<p class="second_section_about">
			At Milestone Resources, we focus on technologies that allow for the transformation of recycleables to production-ready raw materials. Such materials can be used in the manufacture of consumer products, as well as other, energy related products. We believe that with advances in recovery processes and technologies, all recycleables will be transformed back to useable raw materials. Therefore, Milestone Resources is not just a trader, but also an end solution provider; always searching for new technologies and processes to achieve this goal.
		</p>
	</div>
</div>
