<div class="page_container_calculator">

	<div class="left_container_top_calculator">
			<h1 class="left_container_top_text_calculator">Pyrolysis Facility</h1>
	</div>

	<div class="right_container_top_calculator">
		<p class="right_container_top_text_calculator">
			Calculate Cost and Daily Output Recovery
		</p>
	</div>

	<div class="left_container_bottom_calculator">

	</div>

	<div class="right_container_bottom_calculator">
		<div class="equation">
			<span class="equation">Processing</span>
			<span class="equation">+</span>
			<span class="equation">Equipment Cost</span>
			<span class="equation">+</span>
			<span class="equation">Installation Cost</span>
			<span class="equation">=</span>
			<span class="equation">Total Cost</span>
		</div>
		<div class="cost">
			<select id="tons">
		   		<option value="None">-- Select --</option>
		   		<option value="15">15 tons/day</option>
		   		<option value="30">30 tons/day</option>
		   		<option value="45">45 tons/day</option>
		   		<option value="60">60 tons/day</option>
		   		<option value="75">75 tons/day</option>
		   		<option value="90">90 tons/day</option>
		   		<option value="105">105 tons/day</option>
		   		<option value="120">120 tons/day</option>
		   		<option value="135">135 tons/day</option>
		   		<option value="150">150 tons/day</option>
		   		<option value="165">165 tons/day</option>
		   		<option value="180">180 tons/day</option>
		   		<option value="195">195 tons/day</option>
		   		<option value="210">210 tons/day</option>
			</select>
		</div>

		<div class="equip_cost">
			<p id="equipment_cost">$1,000,000</p>
		</div>
		<div class="install_cost">
			<p id="equipment_install">$1,000,000</p>
		</div>
		<div class="total_cost">
			<span>$<p id="total_cost"></p></span>
		</div>

		<div class="calculate">
			<input type="button" class="button" value="Calculate">
		</div>	

		<div class="bottom_container">

			<div class="output_1">
				<span class="box"><p id="liters_petro"></p>Liters of Petroleum</span>
			</div>

			<div class="output_2">
				<span><p id="gallons_petro"></p>Gallons of Petroleum</span>
			</div>

			<div class="output_3">
				<span class="box"><p id="kg_carbon"></p>Kg of Carbon Char</span>
			</div>

			<div class="output_4">
				<span class="box"><p id="kg_steel"></p>Kg of Steel Wire</span>
			</div>

			<div class="output_5">
				<span class="box"><p id="kg_methane"></p>Kg of Methane Gas</span>
			</div>

			<div class="output_6">
				<span class="box"><p id="kg_carbon_fiber"></p>Kg of Carbon Fiber</span>
			</div>
		</div>
</div >
</div>