<h1>Calculator Page</h1>

<div class="calculator">
	<div class="cost">
		<input id="tons_of_tires" type="text"/>
		<input type="button" onClick="calculate();" value="Tire Recovery Output">
		<span>=</span>
		<span class="equiptment_cost">$1,000,000</span>
		<span>+</span>
		<span class="Installation Kit">$1,000,000</span>
		<span>=</span>
		<span class="total_cost">Total Cost</span>
	</div>
</br>
	<div class="output">
		<span class="box">Output Liters of Petroleum</span>
	</div>
</br>
	<div class="output">
		<span>Output Gallons of Petroleum</span>
	</div>
</br>
	<div class="output">
		<span class="box">Output Kg of Carbon Char</span>
	</div>
</br>
	<div class="output">
		<span class="box">Output Kg of Steel Wire</span>
	</div>
</br>
	<div class="output">
		<span class="box">Output Kg of Methane Gas</span>
	</div>
</br>
	<div class="output">
		<span class="box">Output Kg of Carbon Fiber</span>
	</div>
</div>