<% provide(:title, 'Contact') %>

<div class="page_container_contact">
	<div class="left_container_top_contact">
		<h1 class="left_container_text_contact">Contact Us</h1>
	</div>
	<div class="right_container_top_contact">
		<p class="right_container_text_contact">
			Give us a call, or shoot us an email for any unanswered questions, or business concerns.
		</p>
	</div>
	<div class="left_container_bottom_contact">
		<h2 class="left_container_bottom_header_contact">
			<span class="underline">Milestone Resources</span>, 
			<span class="underline">LLC</span>
		</h2>
		<p class="left_container_bottom_text_1_contact">
			P.O. Box 190415, <br> 
			Miami Beach, FL <br>
			33119
		</p>
		<p class="left_container_bottom_text_2_contact">
			<span class="underline">Phone</span>: (850) 502.7407 <br>
			<span class="underline">Fax</span>:   (617) 203.9049 <br>
			<span class="underline">Email</span>: info@milestonerecovery.com
		</p>
	</div>
	<div class="right_container_bottom_map_contact">
		<div style="width:607px;height:463px">
			<iframe width="607" height="463" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=P.O.%2BBox%2B190415%2C%2Bmiami%2Bbeach%2C%2Bflorida%2B33119&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
		</div>
	</div>
</div>