<% provide(:title, 'Home') %>

<div class="page_container_home">

	<div id="slides">

		<div class="tajmahal">
			<%= image_tag "tajmahal.png" %>
		</div>

		<div class="miami">
			<%= image_tag "miami.png" %>
		</div>

		<div class="nyc">
			<%= image_tag "nyc.png" %>
		</div>

		<div class="hanoi">
			<%= image_tag "hanoi.png" %>
		</div>

	</div>

	<div class="left_container_home">
	</div>

	<div class="right_top_container_home">
		<p class="right_top_text_home">Milestone Resources focuses on technologies that allow for the transformation of recycleables to raw materials that are used in various manufacturing processes; resulting in end consumer products, as well as other, energy-related products.</p>
	</div>

	<div class="right_bottom_container_home">
		<h1 class="right_bottom_text_home_1">
				Energy Development
		</h1>
	</div>
</div>