<% provide(:title, 'Process') %>


<div class="page_container_process">
	<div class="left_container_process">
		<h1 class="left_container_text_process">Our Process</h1>
	</div>
	<div class="right_container_process">
		<p class="right_container_text_process">
			Waste Tire Recycling Production Line<br>Tire Capacity: 1,200 tons per month
		</p>
	</div>
	<div class="page_content_process">
		
	</div>
</div>