.page_container_about {
	position:relative;
	height:100%;
	width:981px;
	background-color:white;
	margin:auto;
	margin-top:30px;
}

.left_container_about {
	position:relative;
	height:164px;
	width:370px;
	background-color:black;
	border-right:solid white;
	float:left;
}

.right_container_about {
	position:relative;
	height:164px;
	width:607px;
	background-color:#9b9b9b;
	float:right;
}

.page_content_about {
	position:relative;
	top:20px;
}

h1.left_container_text_about {
	color:white;
	font-family:LTCPabstOldstyle;
	font-variant:small-caps;
	text-align:center;
	padding-top:35px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:2.0px;
}

p.right_container_text_about {
	color:#050a29;
	font-family:LTCPabstOldstyle;
	text-align:left;
	font-size:18px;
	padding-top:30px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
}

h2.first_header_about {
	color:#050a29;
	font-family:LTCPabstOldstyle;
	font-variant:small-caps;
	text-align:left;
	padding-top:35px;
	padding-right:30px;
	letter-spacing:1.5px;
	font-weight:bold;
	position:relative;
	top:15px;
}

h2.second_header_about {
	color:#050a29;
	font-family:LTCPabstOldstyle;
	font-variant:small-caps;
	text-align:left;
	letter-spacing:1.5px;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:0px;
}

p.first_section_about {
	color:#3D352A;
	font-family:LTCPabstOldstyle;
	text-align:justify;
	font-size:18px;
	padding-right:30px;
	letter-spacing:1px;
	line-height:30px;
	margin-top:3px;
	margin-bottom:13px;
}

p.second_section_about {
	color:#3D352A;
	font-family:LTCPabstOldstyle;
	text-align:justify;
	font-size:18px;
	padding-right:30px;
	letter-spacing:1px;
	line-height:30px;
	margin-top:3px;
	margin-bottom:3px;
}