/* Calculator Page */

.calculator {
	border:solid 2px black;
	width:1000px;
	height:280px;
}

.total_cost {
	border:1px solid black;
}

.output {
	border:black 1px solid;
	width:200px;
	margin-left:265px;
}