.page_container_process {
	position:relative;
	height:164px;
	width:980px;
	background-color:white;
	margin:auto;
	margin-top:30px;
}

.left_top_container_process {
	position:relative;
	height:164px;
	width:370px;
	background-color:black;
	border-right:solid white;
	float:left;
}

.right_top_container_process {
	position:relative;
	height:164px;
	width:607px;
	background-color:#9b9b9b;
	float:right;
}

p.right_top_container_text_process {
	color:#050a29;
	font-family:LTCPabstOldstyle;
	text-align:left;
	font-size:18px;
	padding-top:40px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
}

h1.left_container_text_process {
	color:white;
	font-family:LTCPabstOldstyle;
	font-variant:small-caps;
	text-align:center;
	padding-top:35px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:2.0px;
}

.left_content_process {
	position:relative;
	width:370px;
	height:400px;
	background-color:#9b9b9b;
	border-right:solid white;
	margin-top:3px;
	float:left;
}

.right_content_process {
	position:relative;
	width:607px;
	height:400px;
	margin-top:3px;
	float:right;
}

p.first_section_process {
	color:#3D352A;
	font-family:LTCPabstOldstyle;
	text-align:justify;
	font-size:14px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
	margin-top:20px;
	margin-bottom:13px;
}

p.second_section_process {
	color:#3D352A;
	font-family:LTCPabstOldstyle;
	text-align:justify;
	font-size:14px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
	margin-top:20px;
	margin-bottom:13px;
}

span.bold {
	font-weight:bold;
}