.animation {
	float:right;
}

.facility_1 {
	position:relative;
	top:2px;
	left:-152px;
}

.facility_2 {
	position:relative;
	top:-199px;
	left:153px;
}

.facility_3 {
	position:relative;
	top:-201px;
	left:-152px;
}

.facility_4 {
	position:relative;
	top:-403px;
	left:153px;
}

.page_container_process {
	height:968px;
	width:981px;
	background-color:white;
	margin:auto;
	margin-top:30px;
}

.left_top_container_process {
	position:relative;
	height:164px;
	width:370px;
	background-color:black;
	border-right:solid 2px white;
	float:left;
}

.right_top_container_process {
	position:relative;
	height:164px;
	width:607px;
	background-color:#9b9b9b;
	float:right;
}

p.right_top_container_text_process {
	color:#050a29;
	font-family:LTCPabstOldstyle;
	text-align:left;
	font-size:18px;
	padding-top:40px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
}

h1.left_container_text_process {
	color:white;
	font-family:LTCPabstOldstyle;
	font-variant:small-caps;
	text-align:center;
	padding-top:35px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:2.0px;
}

.left_content_process {
	position:relative;
	width:370px;
	height:800px;
	background-color:#9b9b9b;
	border-right:solid white;
	margin-top:3px;
	float:left;
}

.right_content_process {
	position:relative;

	width:607px;
	height:800px;
	margin-top:3px;
	float:right;
}

.four_images {
	position:relative;
	left:152px;
}

p.first_section_process {
	color:#3D352A;
	font-family:LTCPabstOldstyle;
	text-align:justify;
	font-size:20px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
	margin-top:110px;
	margin-bottom:13px;
}

p.second_section_process {
	color:#3D352A;
	font-family:LTCPabstOldstyle;
	text-align:justify;
	font-size:20px;
	padding-right:30px;
	padding-left:30px;
	letter-spacing:1px;
	line-height:30px;
	margin-top:80px;
	margin-bottom:13px;
}

span.bold {
	font-weight:bold;
}

.footer_margin1{
	position:relative;
	top:970px;
	height:25px;
	width:980px;
	margin:0px;
}