<div class="footer_div">
	<footer class="footer">
		<div class="left_footer">
			<p>Milestone Resources | by ARCO, Inc.</p>
		</div>
		<div class="right_footer">
			<p>P.O. Box 190415, Miami Beach, FL</p>
		</div>
	</footer>
</div>